version: "3.6"

services:
  rabbitmq:
    container_name: dev-rabbitmq
    hostname: rabbit
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
  redis:
    image: redis
    container_name: cache
    ports:
      - "6379:6379"